{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/chat_layout.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">

        <nav class="sidebar active">

            <header class="sidebarCollapse">
                <i class="bi bi-chat-left-fill logo"></i>
                <div class="service-name">Communicator</div>
            </header>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <div class="contact_list">
            </div>
            <div class="myprofile">
                logged in as {{ request.user.username }}
            </div>

        </nav>

        <div class="content" data-user-id="1">

            <header class="contact_bar">
                <div class="sidebarCollapse">
                    <i class="bi bi-chat-left-fill logo"></i>
                </div>
                <div class="name">
                    
                </div>
            </header>

            <main>
                <div id="message_area" class="container-fluid">
                </div>
                <form id="new_message">
                    <input type="text" placeholder="Aa" name="message" maxlength="512" autocomplete="off">
                    <button type="submit" class=""><i class="bi bi-send"></i></button>
                </form>
            </main>

        </div>
    </div> 

    </div>
    {{ request.user.username|json_script:"username" }}
    <script>
        const username = JSON.parse(document.getElementById('username').innerText)
        const message_area = document.getElementById('message_area')
        let current_room = null
        let current_room_sidebar_element = null

        function process_message(data){
            console.log('Data: ', data)

            if(data.information_type == 'chat_message'){
                if(data.room == current_room){
                    current_room_sidebar_element.getElementsByClassName("contact_message")[0].innerText = data.content
                    let message_body = `
                    <div class="message">
                        <div class="text">${data.content}</div>
                    </div>`

                    if(message_area.lastElementChild && message_area.lastElementChild.getAttribute('data-username') == data.username){
                        message_area.lastElementChild.getElementsByClassName('message_group')[0].innerHTML += message_body
                    }
                    else{
                        let new_message_wrapper = document.createElement('div')
                        new_message_wrapper.innerHTML = `
                            <div class='message_group'>
                                ${message_body}
                            </div>`
                        new_message_wrapper.setAttribute('data-username', data.username)
                        new_message_wrapper.classList = 'message_wrapper'
                        if(data.username == username){
                            new_message_wrapper.classList.add('you')
                        }
                        else{
                            let img = document.createElement('img')
                            img.setAttribute('src', data.profilePicture)
                            new_message_wrapper.insertBefore(img, new_message_wrapper.firstChild)
                        }
                        message_area.append(new_message_wrapper)
                    
                    }
                    if(message_area.lastElementChild.lastElementChild.lastElementChild){
                        message_area.lastElementChild.lastElementChild.lastElementChild.scrollIntoView()
                    }
                }
                else{
                    Array.from(document.getElementsByClassName("contact")).forEach((element) => {
                        if(element.getAttribute('data-chatRoom-id') == data.room){
                            let contact_message = element.getElementsByClassName("contact_message")[0]
                            contact_message.innerText = data.text
                            if(!contact_message.classList.contains('fw-bold')){
                                contact_message.classList.add('fw-bold')
                            }
                                
                        }
                    })
                }
            }
        }

        function toggle_sidebar(){
            document.getElementsByClassName("sidebar")[0].classList.toggle('active')
            document.getElementsByClassName("content")[0].classList.toggle('active')
            if(message_area.lastElementChild.lastElementChild.lastElementChild){
                message_area.lastElementChild.lastElementChild.lastElementChild.scrollIntoView()
            }
        }

        function change_chat_room(contact_element){
            document.getElementsByClassName('name')[0].innerText = contact_element.getAttribute('data-chatRoom-name')
            current_room = contact_element.getAttribute('data-chatRoom-id')
            current_room_sidebar_element = contact_element
            message_area.innerHTML = ''
            messages_url = `/api/messages/?chat_room_id=${current_room}`
            load_messages(messages_url)

        }

        async function load_messages(url){
            let response = await fetch(url);
            if (response.ok) { 
                messages = await response.json();
                messages.results.reverse().forEach(process_message)
            }
        }

        async function load_chat_rooms(){
            let response = await fetch(`/api/ChatRoom/`, {});
            if (response.ok) { 
                chatRooms = await response.json();
                current_room = chatRooms.results[0].id
                chatRooms.results.forEach((chatRoom, index) => {
                    let contact_list = document.getElementsByClassName('contact_list')[0]

                    new_contact = document.createElement('div')
                    new_contact.innerHTML = `
                        <img src="${ chatRoom.thumbnail }" alt="No image">
                        <div class="contact_info">
                            <div class="contact_name">${chatRoom.name}</div>
                            <div class="contact_message">Hello</div>
                        </div>`
                    new_contact.classList.add('contact')
                    new_contact.setAttribute('data-chatRoom-id', chatRoom.id)
                    new_contact.setAttribute('data-chatRoom-name', chatRoom.name)
                    
                    new_contact.addEventListener('click', (event) => {
                        toggle_sidebar()
                        if(current_room != event.currentTarget.getAttribute('data-chatRoom-id')){
                            change_chat_room(event.currentTarget)
                        }
                    })
                    contact_list.append(new_contact)

                    if(index==0){
                        change_chat_room(new_contact)
                    }
                })

            }
        }
        let chatRooms = []
        load_chat_rooms()


        let web_socket_url = `ws://${window.location.host}/ws/chat`
        let chatSocket = new WebSocket(web_socket_url)
        chatSocket.addEventListener('message', (e) => {
            process_message(JSON.parse(e.data))
            })
        
        

        

        Array.from(document.getElementsByClassName("sidebarCollapse")).forEach((element) => {
            element.addEventListener('click', toggle_sidebar)
        });

        

       

        let form = document.getElementById('new_message')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let text = e.target.message.value
            if(text){
                chatSocket.send(JSON.stringify({
                    'content':text,
                    'room':current_room,
                }))
                form.reset()
            }
        })

    </script>
</body>
</html>