{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/chat_layout.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">

        <nav class="sidebar active">

            <header class="sidebarCollapse">
                <i class="bi bi-chat-left-fill logo"></i>
                <div class="service-name">Communicator</div>
            </header>
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <div class="contact_list">
            </div>
            <div class="myprofile">
                logged in as {{ request.user.username }}
            </div>

        </nav>

        <div class="content" data-user-id="1">

            <header class="contact_bar">
                <div class="sidebarCollapse">
                    <i class="bi bi-chat-left-fill logo"></i>
                </div>
                <div class="name">

                </div>
            </header>

            <main>
                <div id="message_area" class="container-fluid">
                </div>
                <form id="new_message">
                    <input type="text" placeholder="Aa" name="message" maxlength="512" autocomplete="off">
                    <button type="submit" class=""><i class="bi bi-send"></i></button>
                </form>
            </main>

        </div>
    </div>

    </div>
    {{ request.user.id|json_script:"username" }}
    <script>
        const username = JSON.parse(document.getElementById('username').innerText)
        const message_area = document.getElementById('message_area')
        const contact_list = document.getElementsByClassName('contact_list')[0]
        let room_list = []
        let message_list = []
        let current_room = null
        let next_message_load_url = null
        let messages_with_read_icon = []

        class ChatRoom {
            recreate_element_innerHTML() {
                this.chat_room_element.innerHTML = `<img src="${ this.thumbnail }" alt="No image">
                    <div class="contact_info">
                        <div class="contact_name">${this.name}</div>
                        <div class="contact_message">${this.message}</div>
                    </div>`
            }
            constructor(id, name, thumbnail){
                this.id = id
                this.name = name
                this.thumbnail = thumbnail
                this.message = ''
                this.chat_room_element = document.createElement('div')
                this.recreate_element_innerHTML()
                this.chat_room_element.classList.add('contact')
                this.chat_room_element.addEventListener('click', (event) => {
                    toggle_sidebar()
                    if(current_room.id != this.id){
                        change_chat_room(this)
                    }
                })
                this.messages = []
            }
        }

        class Message {
            constructor(id, room_id, content_text, username, profile_picture, read_by){
                this.id = id
                room_list.forEach((room_object) => {
                    if(room_object.id == room_id){
                        this.room = room_object
                    }
                })
                this.content_text = content_text
                this.username = username
                this.profile_picture = profile_picture
                this.read_by = read_by
                this.read_byYou = this.read_by.includes(username)
            }
            read_message(){
                if(this.read_byYou == false){
                        chatSocket.send(JSON.stringify({
                            'information_type':'message_read',
                            'id': this.id,
                        }))
                    }
            }
            insert_read(pic_url){
                if(this.username == username){
                    let img = document.createElement('img')
                    img.classList.add('read_icon')
                    img.setAttribute('src', this.profile_picture)
                    this.message_body.parentNode.insertBefore(img, this.message_body.nextSibling);
                    messages_with_read_icon.push(this)
                }
            }

            remove_read(){
                let next_element = this.message_body.nextElementSibling
                if(next_element.tagName == 'IMG'){
                    next_element.remove()
                    messages_with_read_icon.pop(this)
                }
            }

            display_message(at_bottom=true){
                if(this.room == current_room){
                    if(insert_at_bottom){
                    message_list.unshift(message)
                    }
                    else{
                        message_list.push(message)
                    }
                    this.read_message()
                    this.message_body = document.createElement('div')
                    this.message_body.innerHTML = `<div class="text">${this.content_text}</div>`
                    this.message_body.classList.add('message')


                    if(at_bottom && message_area.lastElementChild && message_area.lastElementChild.getAttribute('data-username') == this.username){
                        message_area.lastElementChild.getElementsByClassName('message_group')[0].append(this.message_body)
                    }
                    else if(!at_bottom && message_area.firstElementChild && message_area.firstElementChild.getAttribute('data-username') == this.username){
                        let message_group = message_area.firstElementChild.getElementsByClassName('message_group')[0]
                        message_group.insertBefore(this.message_body, message_group.firstElementChild)
                    }
                    else{
                        let new_message_wrapper = document.createElement('div')
                        new_message_wrapper.innerHTML = `
                            <div class='message_group'>
                            </div>`
                        new_message_wrapper.firstElementChild.append(this.message_body)
                        new_message_wrapper.setAttribute('data-username', this.username)
                        new_message_wrapper.classList = 'message_wrapper'
                        if(this.username == username){
                            new_message_wrapper.classList.add('you')

                        }
                        else{
                            let img = document.createElement('img')
                            img.classList.add('chat_profile_pic')
                            img.setAttribute('src', this.profile_picture)
                            new_message_wrapper.insertBefore(img, new_message_wrapper.firstChild)
                        }

                        if(at_bottom){
                            message_area.append(new_message_wrapper)
                        }
                        else{
                            message_area.insertBefore(new_message_wrapper, message_area.firstChild)
                        }
                    }


                    this.message_body.scrollIntoView()
                }
            }

        }

        function process_message(data, insert_at_bottom=false){
            // console.log(data)
            if(data.information_type == 'chat_message'){
                message = new Message(data.id, data.room, data.content_text, data.sender, data.profile_picture, data.read_by)
                message.display_message(at_bottom=insert_at_bottom)

                // Code to refactor and move to display_message()
                if(insert_at_bottom){
                    room_list.forEach((room) => {
                        if(room.id == data.room){
                            let contact_message = room.chat_room_element.getElementsByClassName("contact_message")[0]
                            let text_to_insert = data.content_text
                            if(message.username == username){
                                text_to_insert = "You: " + text_to_insert
                            }
                            contact_message.innerText = text_to_insert
                            if(message.read_byYou == false){
                                contact_message.classList.add('fw-bold')
                                contact_message.classList.add('unread')
                            }
                            else if(message.read_byYou == true){
                                contact_message.classList.remove('fw-bold')
                                contact_message.classList.remove('unread')
                            }
                        }
                    })
                }
            }



            else if(data.information_type == 'message_read'){
                room_list.forEach((room) => {
                    if(room.id == data.room){
                        let contact_message = room.chat_room_element.getElementsByClassName("contact_message")[0]
                        contact_message.classList.remove('fw-bold')
                        contact_message.classList.remove('unread')

                    }
                })
            }
        }

        function toggle_sidebar(){
            document.getElementsByClassName("sidebar")[0].classList.toggle('active')
            document.getElementsByClassName("content")[0].classList.toggle('active')
            if(message_area.lastElementChild){
                message_area.lastElementChild.lastElementChild.lastElementChild.scrollIntoView()
            }
        }

        function change_chat_room(chat_room_object){
            current_room = chat_room_object
            next_message_load_url = null
            document.getElementsByClassName('name')[0].innerText = current_room.name
            message_list = []
            message_area.innerHTML = ''
            messages_url = `/api/messages/?room_id=${current_room.id}`
            load_messages(messages_url)

        }

        async function load_messages(url, insert_at_bottom=true){
            let response = await fetch(url);
            if (response.ok) {
                let starting_position = message_area.getElementsByClassName('message')[0]
                console.log(starting_position)
                let messages_data = await response.json();
                next_message_load_url = messages_data.next
                let messages = messages_data.results
                if(insert_at_bottom){
                    messages = messages_data.results.reverse()
                }
                messages.forEach((message) => {
                    process_message(message, insert_at_bottom)
                })

                if(starting_position){
                    starting_position.scrollIntoView(alignToTop=true)
                }

            }
        }

        async function load_chat_rooms(){
            let response = await fetch(`/api/rooms/`, {});
            if (response.ok) {
                let chat_room_data = await response.json();
                chat_room_data.results.forEach((room, index) => {
                    let new_room = new ChatRoom(room.id, room.name, room.thumbnail)
                    room_list.push(new_room)
                    contact_list.append(new_room.chat_room_element)
                    process_message(room.last_message, insert_at_bottom=true)
                    if(index==0){
                        change_chat_room(new_room)
                    }
                })

            }
        }

        Array.from(document.getElementsByClassName("sidebarCollapse")).forEach((element) => {
            element.addEventListener('click', toggle_sidebar)
        });

        load_chat_rooms()

        let web_socket_url = `ws://${window.location.host}/ws/chat`
        let chatSocket = new WebSocket(web_socket_url)
        chatSocket.addEventListener('message', (e) => {
            process_message(JSON.parse(e.data), insert_at_bottom=true)
            })

        let form = document.getElementById('new_message')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let text = e.target.message.value
            if(text){
                chatSocket.send(JSON.stringify({
                    'information_type':'chat_message',
                    'content_text':text,
                    'room':current_room.id,
                }))
                form.reset()
            }
        })

        message_area.onscroll = function(e) {
            if(this.scrollTop == 0){
                this.scrollTo({
                    top: 1,
                  })
                this.scrollTo({
                    top: 15,
                    behavior: 'smooth'
                  })
                if(next_message_load_url){
                    load_messages(next_message_load_url, insert_at_bottom=false)
                    // Added to prevent multiple fetches to same url while messages are loading
                    next_message_load_url = null
                }
            }
          };
    </script>
</body>
</html>