.chat-area{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: gray;
    width: 100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.main.full .chat-area{
    min-height: 100%;
}

/* for messages in chat-area going to the bottom */
.chat-area> :first-child{
    margin-top: auto;
}