.chat-footer{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    align-self: flex-end;
}
.chat-footer input{
    width: 90%;
}
.chat-footer input:focus{
    outline:none
  }
.chat-footer button{
    font-size: 1.8rem;
    background-color: inherit;
    padding-left: 0.5rem;
    border-radius: 3rem;
    height: 2.9rem;
    width: 2.9rem;
}
.chat-footer button:hover{
    background-color: gainsboro;
}