@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins';
}

#root {
    display: flex;
    justify-content: center;
}

.logo{
    padding-right: 1rem;
}

.service {
    display: flex;
    font-size: 2.5em;
}

.service.medium {
    font-size: 2em;
}

input {
    background-color: gainsboro;
    box-shadow: none;
    border: none;
    padding: 0.5em;
    padding-top: 0.2em;
    border-radius: 1rem;
    margin-right: 0.5em;
    height: 3em;
}

input:focus{
    outline: 0;
    border: 0.10em #f19c2b solid;
}

button{
    font-size: 1em;
    border: none;
    background-color: gainsboro;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 2em;
    height: 2em;
}

button:hover{
    background-color: #b0b0b0;
}

.form-field {
    padding: 0.1em;
    display: flex;
    flex-direction: column;
}

.form-field label{
    font-weight: 600;
}

.form-field.error input{
    border: 0.10em #ff0000 solid;
    background-color: #ffe6e6;
}

.form-field input {
    margin-bottom: 0.1em;
}

.form-field p {
    color: #ff0000;
}

.form-field p{
    margin-bottom: 0.5em;
    margin-top: -0.2em;
}