.message{
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: gainsboro;
    font-size: 1rem;
    max-width: 100%;
}
.message:first-of-type{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0.5rem;
}
.message:last-of-type{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 1.5rem;
}
.message:only-of-type{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.text {
    width: 100%;
    word-wrap: break-word;
}