.group-wrapper{
    display: flex;
    align-items: flex-end;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.group-wrapper.current-user{
    margin-right: 0;
    margin-left: auto;
}

/* x-axis transform for reversing border around message when on other side of screen */
.group-wrapper.current-user .message{
    background-color: rgb(241, 175, 41);
    transform: scaleX(-1);
}

/* reverse back content of message */
.group-wrapper.current-user .message>*{
    transform: scaleX(-1);
}

.group-wrapper.current-user .message-group{
    align-items: flex-end;
}

.group-wrapper.current-user .message-wrapper{
    align-items: flex-end;
}

.message-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.time-separator{
    margin-top: 1rem;
    align-self: center;
    font-size: 0.8rem;
}