.message-wrapper{
    display: flex;
    align-items: flex-end;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-right: 4rem;
}
.message-wrapper.current-user{
    margin-right: 0;
    margin-left: 6.8rem;
    transform: scaleX(-1);
}

.message-wrapper.current-user .message{
    background-color: rgb(241, 175, 41);
}

.message-wrapper.current-user .message>*{
    transform: scaleX(-1);
}

.message-wrapper.current-user .message-details{
    transform: scaleX(-1);
}

.message-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.time-separator{
    margin-top: 1rem;
    align-self: center;
    font-size: 0.8rem;
}