.room-list{
    width: 100%;
    flex-direction: column;
}

.room-list-wrapper{
    width: 100%;
    height: calc(100vh - 4.5rem - 6.5rem);
}

.sidebar.full .room-list{
    position: absolute;
    top: 6.5rem;
    bottom: 4.5rem;
    height: auto;
}